<style>
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  animation: fadeIn 2s ease-out, slideUp 2s ease-out;
}
.profile-picture {
  border-radius: 100%;
  border: 5px solid #FFA86A;
  display: block;
}
.self-presentation {
  display: flex;
  flex-direction: column;
}
.self-presentation-2 {
  display: inherit;
  flex-direction: row;
  align-items: center;
}
.presentation-title {
  display: block;
  flex-grow: 1;
  text-align: center;
}
.presentation-text {
  text-align: right;
  display: block;
  vertical-align: middle;
  flex-grow: 0.5;
  padding-right: 1em;
  padding-left: 1em;
}
</style>
<section class="self-presentation">
<h1 class="presentation-title">Bem-vindo (a)</h1>
<div class="self-presentation-2">
<p class="presentation-text">
  Meu nome é Cézar Campos.
  Sou engenheiro de software e músico vivendo em
  SC, Brasil.
  Pelos últimos 5 anos venho trabalhando com sistemas
  Linux, shell scripting e desenvolvimento web, já fiz alguns
  trabalhos com projetos <i>open-source</i>.
  <br />
  Eu acredito profundamente que o minimalismo é a chave
  para se construir grandes produtos.
</p>
<img
  src="https://codeberg.org/avatars/5ad361fed868181715400b3fa2ea9fae"
  alt="Foto de Cézar Campos"
  width="290"
  height="290"
  class="profile-picture"
  />
</div>
</section>
